[Unit]
Description={{ bao_snapshot_systemd_timer_description }}

[Service]
Type=oneshot
Environment=BAO_ADDR=unix://{{ bao_snapshot_listener_socket }}
ExecStart=/bin/sh -c '{{ bao_bin_path }}/bao operator raft snapshot save "{{ bao_snapshot_dir }}/{{ bao_snapshot_file_name }}"'
ExecStartPost=/bin/sh -c 'find {{ bao_snapshot_dir }}/* -{{ bao_snapshot_retention_find_mode }} {{ bao_snapshot_retention_time }} -exec {{ bao_snapshot_retention_find_action }} {} \;'

[Install]
WantedBy=multi-user.target
