[Unit]
Description=Vault Snapshot Agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart={{ vault_bin_path }}/vault agent -config={{ vault_snapshot_agent_config_file }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
User={{ vault_user }}
Group={{ vault_group }}
RuntimeDirectoryMode=0750
RuntimeDirectory=vault-snap-agent

[Install]
WantedBy=multi-user.target